body{
    background: blue;

}
p{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 20, 177);
}
p.formato{
    color:yellow;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.centro{
    text-align: center;
}

